.navbar{
    height: 50px;
    width: 100vw;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu{
    height: 40px;
    min-width: 200px;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.menu_ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

li{
    list-style: none;
    margin: 0px 5px;
}